# Dependencies
node_modules/
.pnpm-store/

# Build outputs
.next/
.turbo/
dist/
build/
out/
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local
!.env.example

# Logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# Prisma
prisma/migrations/dev.db*

# Expo
.expo/
.expo-shared/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
ios/
android/

# Vercel
.vercel

# Coverage
coverage/

# Cache
.cache/
.eslintcache
